@model APIService

@{
    string unique = Guid.NewGuid().ToString();
}

<div class="modal fade" tabindex="-1" role="dialog" id="addAPIServiceModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add API Service</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="form@(unique)">
                    <div class="row mb-3">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <label for="txtName@(unique)" class="input-group-text" style="width: 100px">Name</label>
                                </div>
                                @Html.TextBoxFor(x => x.Name, new
                                {
                                    @class = "form-control",
                                    id = $"txtName{unique}",
                                    placeholder = "Enter a unique name...",
                                    required = "required"
                                })
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width: 100px" for="txtAction@(unique)">Action</label>
                                </div>
                                @Html.TextBoxFor(x => x.Action, new
                                {
                                    @class = "form-control",
                                    id = $"txtAction{unique}",
                                    placeholder = "Enter action name...",
                                    required = "required"
                                })
                            </div>
                        </div>
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <label class="input-group-text" style="width: 100px" for="txtController@(unique)">Controller</label>
                                </div>
                                @Html.TextBoxFor(x => x.Controller, new
                                {
                                    @class = "form-control",
                                    id = $"txtController{unique}",
                                    placeholder = "Enter controller name..."
                                })
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <div class="input-group input-group-sm">
                                <div class="input-group-prepend">
                                    <label for="txtDescription@(unique)" class="input-group-text" style="width: 100px">Description</label>
                                </div>
                                @Html.TextAreaFor(x => x.Description, new
                                {
                                    @class = "form-control",
                                    id = $"txtDescription{unique}",
                                    placeholder = "Enter a description...",
                                    required = "required"
                                })
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" onclick="addAPIService()">Save</button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" defer="defer">
    function addAPIService() {
        const $modal = $('#addAPIServiceModal'),
            $form = $('#form@(unique)'),
            formData = new FormData($form.get(0)),
            success = (data, status, xhr) => {
                window.location = '@Url.Action(nameof(APIServiceController.Index), "APIService")?id=' + data;
            },
            error = (xhr, status, error) => {
                alert('Status: ' + status + ', Error: ' + error);
                hideLoading();
            },
            $fields = $form.find('input, textarea');

        $fields.each((index, item) => {
            if (item.checkValidity()) {
                $(item).removeClass('is-invalid');
            } else {
                $(item).addClass('is-invalid');
            }
        });

        if (!$fields.hasClass('is-invalid')) {
            showLoading();
            $.ajax({
                url: '@Url.Action(nameof(APIServiceController.AddAPIService), "APIService")',
                data: formData,
                processData: false,
                contentType: false,
                method: 'POST',
                success: success,
                error: error
            });
        }
    }

    $('#addAPIServiceModal').on('show.bs.modal', e => {
        const $form = $('#form@(unique)'),
            $fields = $form.find('input, textarea');

        $fields.removeClass('is-invalid');
        $form.trigger('reset');
    });
</script>