@model APIProfileViewModel

@{
    var profileGroups = Model.APIProfiles.GroupBy(profile => profile.Name.Substring(0, 1), StringComparer.OrdinalIgnoreCase);
    int firstProfileId = profileGroups.Any() ? profileGroups.FirstOrDefault().FirstOrDefault().Id : -1,
        selectedId = Model.SelectedProfileId.HasValue ? Model.SelectedProfileId.Value : firstProfileId;

    ViewBag.Title = "API Profiles";
}

<div class="row" style="flex: 1 1 auto">
    <div class="col-3 border-right">
        <h5>API Profiles</h5>
        <hr />
        <div id="accordion">
            @foreach (var group in profileGroups)
            {
                <div class="card">
                    <div class="card-header m-0 p-0">
                        <button class="btn btn-link py-0" data-toggle="collapse" data-target="#collapse-@(nameof(APIProfile))-@(group.Key)">@(group.Key.ToUpper())...</button>
                    </div>
                    <div id="collapse-@(nameof(APIProfile))-@(group.Key)" class="collapse show" data-parent="#accordion">
                        <div class="card-body m-0 p-0">
                            <div class="list-group list-group-flush py-0">
                                @foreach (APIProfile profile in group.OrderBy(item => item.Name, StringComparer.OrdinalIgnoreCase))
                                {
                                    <button type="button" class="list-group-item list-group-item-action py-0 @(profile.Id == selectedId ? "active" : string.Empty)"
                                            onclick="">@(profile.Name)</button>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-9 d-flex flex-column" id="profileContainer">
    </div>
</div>

@section scripts {
    <script type="text/javascript" defer="defer">
        function loadProfile(id) {
            showLoading();
            $('#profileContainer').html('');
            $("#profileContainer").load('@Url.Action(nameof(APIProfileController.APIProfile), "APIProfile")?id=' + id, () => {
                hideLoading();
                loadServices(id);
                loadAccessLogs(id, @(APIProfileViewModel.LogDays.First()));
            });
        }

        // Profile Services ---------------------------------------------------------------------------------
        function addProfileService(profileId, serviceId) {
            if (profileId && serviceId) {
                showLoading();
                $.post('@Url.Action(nameof(APIProfileController.AddProfileService), "APIProfile")', { profileId: profileId, serviceId: serviceId }, () => {
                    hideLoading();
                    loadServices(profileId);
                });
            }
        }

        function removeProfileService(profileId, profileServiceId) {
            if (profileId && profileServiceId) {
                showLoading();
                $.post('@Url.Action(nameof(APIProfileController.RemoveProfileService), "APIProfile")', { profileServiceId: profileServiceId }, () => {
                    hideLoading();
                    loadServices(profileId);
                });
            }
        }

        function loadServices(profileId) {
            loadActiveServices(profileId);
            loadInactiveServices(profileId);
        }

        function loadActiveServices(profileId) {
            const $container = $('#activeServicesContainer');

            if ($container.length > 0) {
                showLoading();
                $container.html('');
                $container.load('@Url.Action(nameof(APIProfileController.ActiveServices), "APIProfile")?profileId=' + profileId, () => {
                    hideLoading();
                });
            }
        }

        function loadInactiveServices(profileId) {
            const $container = $('#inactiveServicesContainer');

            if ($container.length > 0) {
                showLoading();
                $container.html('');
                $container.load('@Url.Action(nameof(APIProfileController.InactiveServices), "APIProfile")?profileId=' + profileId, () => {
                    hideLoading();
                });
            }
        }

        // End Profile Services -----------------------------------------------------------------------------

        // Access Logs --------------------------------------------------------------------------------------

        function loadAccessLogs(profileId, days) {
            const $container = $('#access-logs'),
                data = 'profileId=' + profileId + '&days=' + days;

            if ($container.length > 0) {
                showLoading();
                $container.html('');
                $container.load('@Url.Action(nameof(APIProfileController.APIAccessLogs), "APIProfile")?' + data, () => {
                    hideLoading();
                });
            }
        }

        // End Access Logs ----------------------------------------------------------------------------------

        $(function () {
            loadProfile(@(selectedId));
        });
    </script>
} 