<div class="modal" id="serviceDefinedFieldsModal" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Configure Service Defined Fields</h5>
                <button type="button" class="close" data-dismiss="modal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-row flex-wrap" data-modal-container="@(nameof(ServiceDefinedField))">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary" data-button="save" data-item-id="-1">Save</button>
                <button type="button" class="btn btn-sm btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" defer="defer">
    $('#serviceDefinedFieldsModal').on('show.bs.modal', (e) => {
        const $container = $('[data-modal-container="@(nameof(ServiceDefinedField))"]'),
            $btn = $(e.relatedTarget),
            $modal = $(e.target),
            profileServiceId = $btn.attr('data-item-id');

        $modal.find('[data-button="save"]').attr('data-item-id', profileServiceId);
        showLoading();
        $container.html('');
        $container.load('@Url.Action(nameof(APIProfileController.ServiceDefinedFields), "APIProfile")', { profileServiceId: profileServiceId }, () => {
            hideLoading();
        });
    });

    $('[data-button="save"]').on('click', e => {
        const $container = $('[data-modal-container="@(nameof(ServiceDefinedField))"]'),
            $fields = $container.find('[data-display-name]'),
            fields = $fields.map((index, field) => ({
                    Name: $(field).find('[name="@(nameof(ServiceDefinedField.Name))"]').val(),
                    Type: $(field).find('[name="@(nameof(ServiceDefinedField.Type))"]').val(),
                    Value: $(field).find('[name="@(nameof(ServiceDefinedField.Value))"]').val()
            })).toArray(),
            profileServiceId = $(e.target).attr('data-item-id');

        $('#serviceDefinedFieldsModal').modal('hide');
        showLoading();
        $.post('@Url.Action(nameof(APIProfileController.UpdateAPIServiceDefinedFields), "APIProfile")', { profileServiceId: profileServiceId, fields: fields }, e => {
            hideLoading();
        });
    });
</script>